@font-face {
  font-family: "work";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
:root {
  --White: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  font-family: "work";
  background-repeat: no-repeat;
  font-size: 16px;
}
main {
  background-color: var(--White);
  width: 40%;
  padding: 2rem;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: var(--Purple-950);
  font-size: 48px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
h1::before {
  content: url(./assets/images/icon-star.svg);
}
h2 {
  line-height: 100%;
  font-size: 16px;
  color: var(--Purple-950);
  font-weight: 500;
}
p {
  font-size: 12px;
  color: var(--Purple-600);
  line-height: 150%;
  display: none;
  transition: all ease-in 1s;
  max-height: 0; /* Start collapsed */
  opacity: 0;
}
.show {
  opacity: 1;
  max-height: 100%;
  display: block;
}
/**layout**/
.container {
  display: grid;
  gap: 2rem;
}
.q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
